.container {
  height: 400px;
  background-color: #999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  background-image: url('./space.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.container input {
  width: 400px;
  text-align: center;
}

.search {
  width: 600px;
  padding: 16px 8px;
  font-size: 16px;
  border: none;
}

.search:focus {
  outline: none;
}

@media screen and (max-width: 780px) {
  .search {
    width: 90%;
  }
}